body {
	background-color: #ffa64d;
}
img {
	width: 100%;
	height: auto;
}
h1 {
	width: 30%;
	margin: auto;
	padding: 20px;
	margin-top: 30px;
	text-align: center;
}
button {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	border: 1px solid transparent;
	border-radius: 4px;
}
button:disabled {
	cursor: not-allowed;
	opacity: 0.65;
}
#my-carousel {
	border: 1px solid #000;
	border-radius: 3px;
	padding: 10px;
	margin-top: 30px;
	display: flex;
}
#my-carousel > *{
	order: 1;
}
.carousel-item {
	display: none;
	padding: 2%;
}
.carousel-button {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	padding: 0.5%;
}
.carousel-button > *{
	height: 5vh;
}
.next{
	order: 2 !important;
}
